body {
		background-color: #F5F5F5;
	}

#kont_content {
    width: 500px;
    padding: 10px;
    margin: auto;
}

img {
	width: 130px; 
	height: 230px;
	margin-left: 185px;
	padding-bottom: 10px;
}

p {
	padding-left: 40px;
}

text {
	padding-bottom: 10px;
	color: #8B8989;
}

hr {
	width: 500px; 
	size: 2; 
	color: #BEBEBE; 
}