	body {
		text-align: center;
		margin-top: 200px;
	}
		
	#timer {
		font-family: "Lato";
		font-size: 100px;
		font-weight: 300;
	}
	
	button {
		width: 200px;
		height: 40px;
		border-radius: 10px;
		background-color: #98FB98;
	}
	
	button:hover {
		cursor: pointer;
		font-size: 16px;
		font-weight: 800;
		border-radius: 25px;
		color: red;
		background-color: #3CB371;
	}